<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add form</title>
</head>
<body align="center">
<h1>Add Form</h1>
<form  action="/admin/employees/add" method="post">
    <h5>Fullname</h5>
    <label>
        <input name="fullName">
    </label> <br/>
    <h5>Address</h5>
    <label>
        <input name="address">
    </label> <br/>
    <h5>Email</h5>
    <label>
        <input name="email">
    </label> <br/>
    <h5>DoB</h5>
    <label>
        <input name="dob">
    </label> <br/>
    <h5>phone</h5>
    <label>
        <input name="phone">
    </label> <br/>
    <input style="margin-top: 30px" type="submit" value="Add Employee">
</form>
</body>
</html>