<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD EMPLOYEE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <style>
        .x{
            position: fixed;
            padding: 1.5rem;
            margin-right: 10px;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
    </style>
</head>
<body align="center">
<h1>Add Form</h1>
<form  action="/admin/employees/add" method="post">
    <h5>Fullname</h5>
    <label>
        <input name="fullName">
    </label> <br/>
    <h5>Address</h5>
    <label>
        <input name="address">
    </label> <br/>
    <h5>Email</h5>
    <label>
        <input name="email">
    </label> <br/>
    <h5>DoB</h5>
    <label>
        <input name="dob">
    </label> <br/>
    <h5>phone</h5>
    <label>
        <input name="phone">
    </label> <br/>
    <input style="margin-top: 30px" type="submit" value="Add Employee">
</form>
</body>
</html>