<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT EMPLOYEE</title>
</head>
<body align="center">
<h1>Edit Employee</h1>
<form  th:action="@{/admin/employees/edit/{id}(id=${employeeToUpdate.getId()})}" method="post">
    <h5>Full Name :</h5>
    <label>
        <input name="fullName" th:value="${employeeToUpdate.getFullname()}">
    </label> <br/>
    <h5>Address:</h5>
    <label>
        <input name="address" th:value="${employeeToUpdate.getAddress()}">
    </label> <br/>
    <h5>Email:</h5>
    <label>
        <input name="email" th:value="${employeeToUpdate.getEmail()}">
    </label> <br/>
    <h5>Date of Birth:</h5>
    <label>
        <input name="dob" th:value="${employeeToUpdate.getDob()}">
    </label> <br/>
    <h5>Phone Number :</h5>
    <label>
        <input name="phone" th:value="${employeeToUpdate.getPhone()}">
    </label> <br/>
    <input style="margin-top: 30px" type="submit" value="Edit Employee">
</form>
</body>
</html>