<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        div.inline {
            color: black;
            float: none;
            padding: 5px 5px;
            display: inline-block;
        }
        div.inline a.active {
            background-color: #FBD603;
            border:1px solid darkred;
        }

    </style>
</head>
<body>
<h1 class="text-center">LIST OF EMPLOYEES</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<table class="table table-striped table-hover table-bordered">
    <thead class="bg-gradient">
    <tr>
        <th>ID</th>
        <th>FULL NAME</th>
        <th>EMAIL</th>
        <th>ADDRESS</th>
        <th>DOB</th>
        <th>PHONE</th>
        <th>STATUS</th>
        <th colspan="2">
            <a type="button" class="btn btn-success" href="/admin/employee/show-add-form">New Employee</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee, iStat : ${listEmployee}">
        <td th:text="${employee.getId()}"></td>
        <td th:text="${employee.getFullname()}"></td>
        <td th:text="${employee.getEmail()}"></td>
        <td th:text="${employee.getAddress()}"></td>
        <td th:text="${employee.getDob()}"></td>
        <td th:text="${employee.getPhone()}"></td>
        <td th:text="${employee.getStatus()}"></td>
        <td><a class="btn btn-primary"
               th:href="@{/admin/employees/show-edit-form/{id}(id=${employee.getId()})}">Edit</a></td>
        <td>
            <a class="btn btn-danger" th:href="@{/admin/employees/delete/{id}(id=${employee.getId()})}"
               onclick="return confirm('Are you sure you want to delete this employee?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="inline" th:if="${productPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/admin/products(size=${productPage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==productPage.number + 1} ? active"></a>
</div>

</body>
</html>